/* styles.css */
body{
	background-color:	#FFE4C4;
}
.information{
  font-style: italic;
  font-weight: bold;
  margin-left: -17px;

}


.look{
  margin-top: 10px;
  border-style: solid;
  background-color: #FAEBD7;


}
#welcome {

    font-size: 2.5em;
}

div img{
  margin-left: 5px;
  margin-top: 30px;


}
